<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <title>Prediksi Liver</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <link href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet" type="text/css">

  <link href="https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap" rel="stylesheet">
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">Hepa Id</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/form_predict">Prediksi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">Tentang Kami</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container-fluid pt-5 pb-5 mb-5">
    <div class="container">
      
      <h2>Hubungi Kami</h2>

      <br>
      <br>

      <div class="row">
        <div class="col-md-6">          
          <dic class="row">
            <div class="col-sm-4">
            </div>
            <div class="col-sm-8">

              <table class="table table-sm">
                <tr>
                  <td>Telp</td>
                  <td>:</td>
                  <td>(021)678954321</td>
                </tr>
                <tr>
                  <td>Instagram</td>
                  <td>:</td>
                  <td>@HepaId_</td>
                </tr>
                <tr>
                  <td>Email</td>
                  <td>:</td>
                  <td>hepaid@gmail,com</td>
                <tr>
                  <td>Alamat</td>
                  <td>:</td>
                  <td>Jln.Cendrawasih 150 Magelang</td>
                </tr>
              </table>

            </div>
          </dic>
        </div>
        </div>
      </div>


    </div>
  </div>

  <div class="container-fluid bg-dark text-white" style="padding: 20px 0; margin-top: 150px">
    <div class="container">
      <small>&copy; 2024.HepaId</small>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
  </script>

</body>

</html>