<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <title>Hepa Id</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">  

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha256-NuCn4IvuZXdBaFKJOAcsU2Q3ZpwbdFisd5dux4jkQ5w=" crossorigin="anonymous" />

  <link href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet" type="text/css">

  <link href="https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap" rel="stylesheet">
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">Hepa Id</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/form_predict">Prediksi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">Tentang Kami</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container-fluid pt-5 pb-5">
    <div class="container">

      <div class="row">
        <div class="col-md-6">
          <h2>Form Prediksi Hepatitis</h2>
        </div>
        <div class="col-md-6">
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-sm btn-secondary" data-toggle="modal" data-target="#modal" style="float: right">
            <i class="fa fa-question"></i> Bantuan
          </button>      
        </div>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Panduan Pengisian Form</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              
              <ol>
                <li>User masuk ke aplikasi web.</li>
                <li>Pada halaman awal tekan button “Mulai Prediksi” atau klik menu “Prediksi” pada bagian menu bar.</li>
                <li>Isi form yang ada di halaman tersebut.</li>
                <li>Setelah mengisi form tersebut user dapat melihat hasilnya dengan menekan button "Lakukan Prediksi".</li>
              </ol>

            </div>
          </div>
        </div>
      </div>

      <hr class="my-3">

      <br>
      
      <form action="{{ url_for('predict')}}" method="POST">

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="age">Usia</label>
              <input type="number" min="0" max="100" class="form-control" id="age" name="age" placeholder="Usia Anda. Contoh: 35 (Untuk yang berusia 35 tahun)" required />
            </div>

            <div class="form-group">
              <label for="sex">Jenis Kelamin</label>
              <select name="sex" class="form-control">
                <option value="">- Pilih Jenis Kelamin -</option>
                <option value="1">Laki - Laki</option>
                <option value="0">Perempuan</option>
              </select>
            </div>

            <div class="form-group">
              <label for="steroid"> Terapi Steroid</label>
              <select name="steroid" class="form-control">
                <option value="">- Masukkan Jawaban Anda -</option>
                <option value="1">Ya</option>
                <option value="0">Tidak</option>
              </select>
            </div>

            <div class="form-group">
              <label for="antivirals">Terapi Antiviral</label>
              <select name="antivirals" class="form-control">
                <option value="">- Masukkan Jawaban Anda -</option>
                <option value="1">Ya</option>
                <option value="0">Tidak</option>
              </select>
            </div>

            <div class ="form-group">
              <label for="fatigue">Gejala Kelelahan Akut</label>
              <select name="fatigue" class="form-control">
                <option value="">- Masukkan Jawaban Anda -</option>
                <option value="1">Ya</option>
                <option value="0">Tidak</option>
              </select>
              </div>  
              
            <div class ="form-group">
              <label for="malaise">Gejala Malaise (Rasa Tidak Nyaman)</label>
              <select name="malaise" class="form-control">
                <option value="">- Masukkan Jawaban Anda -</option>
                <option value="1">Ya</option>
                <option value="0">Tidak</option>
                </select>
            </div>

            <div class ="form-group">
              <label for="anorexia">Gejala Anorexia (Muntah Setiap Makan)</label>
              <select name="anorexia" class="form-control">
                <option value="">- Masukkan Jawaban Anda -</option>
                <option value="1">Ya</option>
                <option value="0">Tidak</option>
              </select>
              </div>  
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label for="liver_big">Kondisi Hati Membesar</label>
              <select name="liver_big" class="form-control">
                <option value="">- Masukkan Jawaban Anda -</option>
                <option value="1">Ya</option>
                <option value="0">Tidak</option>
              </select>
            </div>

            <div class="form-group">
              <label for="liver_firm">Kondisi Hati Mengeras</label>
              <select name="liver_firm" class="form-control">
                <option value="">- Masukkan Jawaban Anda -</option>
                <option value="1">Ya</option>
                <option value="0">Tidak</option>
              </select>
            </div>

            <div class="form-group">
              <label for="spleen_palpable">Gejala Limfa Lebih Besar Dari Normal</label>
              <select name="spleen_palpable" class="form-control">
                <option value="">- Masukkan Jawaban Anda -</option>
                <option value="1">Ya</option>
                <option value="0">Tidak</option>
              </select>
            </div>

            <div class="form-group">
              <label for="spiders">Gejala Spider (Pembuluh Darah Mengumpul atau Menonjol Pada Permukaan Kulit)</label>
              <select name="spiders" class="form-control">
                <option value="">- Masukkan Jawaban Anda -</option>
                <option value="1">Ya</option>
                <option value="0">Tidak</option>
              </select>
            </div>

            <div class="form-group">
              <label for="ascites">Penumpukan Cairan Pada Rongga Perut</label>
              <select name="ascites" class="form-control">
                <option value="">- Masukkan Jawaban Anda -</option>
                <option value="1">Ya</option>
                <option value="0">Tidak</option>
              </select>
            </div>
            <div class="form-group">
              <label for="varices">Pembengkakan Pada Vena Esophagus</label>
              <select name="varices" class="form-control">
                <option value="">- Masukkan Jawaban Anda -</option>
                <option value="1">Ya</option>
                <option value="0">Tidak</option>
              </select>
            </div>
          </div>
        </div>            

        <div class="form-group">
          <button type="submit" class="btn btn-primary">Lakukan Prediksi</button>
        </div>
        
      </form>
    </div>
  </div>

  <div class="container-fluid bg-dark text-white mt-5" style="padding: 20px 0;">
    <div class="container">
      <small>&copy; 2024. Hepa Id</small>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
  </script>

</body>

</html>